@import "tailwindcss";

body {
  background-color: rgb(33, 33, 33);
}

#summarized-content {
  flex: 1;
  scrollbar-width: none;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
}

.file-picker-container {
  background-color: rgb(48, 48, 48);
}

.file-picker-container:hover {
  cursor: pointer;
}

.sidebar {
  background-color: #303030;
  border-radius: 6px;
  color: white;
}