@import "tailwindcss";

body {
  background-color: rgb(33, 33, 33);
}

#summarized-content {
  flex: 1;
  scrollbar-width: none;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
}

#confirmation-modal::backdrop{
  background-color: rgb(33, 33, 33);
}

#modal-buttons-container button {
  border: 1px solid #7F8CAA;
  padding: 8px 12px;
  border-radius: 2px;
}

#modal-buttons-container button:hover {
  cursor: pointer;
}

#preview {
  height: 400px;
}

.file-picker-container {
  background-color: rgb(48, 48, 48);
}

.file-picker-container:hover {
  cursor: pointer;
}

.sidebar {
  background-color: #303030;
  border-radius: 6px;
  color: white;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 10px;
}

@keyframes skeleton-loading {
    0% {
        background-color: #6e6e6e;
    }
    100% {
        background-color: #444444;
    }
}